body {
	padding: 0;
	margin: 0 auto;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	background-color: #f5efef; 
}

.main li {
	display: inline-block;
	padding: 5px;
	vertical-align: middle;
	padding-right: 40px;
}

.main li:last-child {
	padding-right: 0px; 
}

.main {
	display: inline-block;
	vertical-align: middle;
}

.main li a {
	font-size: 1.3em;
	color: #b6b6e0;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	transition: all 1s;
}

.main li a:hover {
	color: #e20b0b;
}

.container {
	background: #24292e;
	line-height: 30px;
	text-align: right;
	min-height: 80px;
	max-width: 980px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 10px;
	padding-left: 10px;
}

img {
	border-radius: 50%; /* Она встала не по центру потому что он не разрешает элементам изменять себя*/
	vertical-align: middle;
	max-height: 200px;
	max-width: 200px;
}

.picture {
	float: left;
	border-radius: 1px solid black;
	margin: 1px;
}

.head {
	padding: 3px;
	display: block;
	width: 100%;
	background: rgba(29, 20, 99, 0.64);
}

* {
	box-sizing: border-box;
}

.window {
	padding: 30px 0;
	background-image: url("./images/block1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: calc(100vh - 80px);
}

.window h1 {
	margin-top: 0;
	color: black;
	text-align: center;
	text-transform: uppercase;
	font-size: 48px;
}

.window p {
	color: black;
	text-align: center;
	font-size: 24px;
	line-height: 28px;
	background-color: rgba(255, 253, 253, 0.71);
}

.window-contant {
	text-align: center;
}

.button {
	color:rgba(241, 234, 235, 0.64);
	background-color:rgba(8, 5, 25, 0.93);
	font-weight: 700;
	padding: .8em 1em calc(.8em + 3px);
  	border-radius: 3px;
  	box-shadow: 0 -3px rgb(53,167,110) inset;
	text-align: center;
	text-decoration: none;
	width: 150px;
  	display: inline-block;
}

.button:active {
	background-color: rgba(234, 233, 239, 0.93);
	color: rgb(23, 78, 35);
}

.girls {
	background-color: #f5efef;
	display: inline-block;
	width: 100%;

}

.girls_container { /*it`s container, in this shit place all my contant*/
	margin: 0 auto;
	width: 1000px;
}

.items_boobs {
	margin-top: 30px;
}

.boobs_row {
	margin: 0 -15px;
	clear: both;
}
.boobs_column {
	display: block;
	width: 33.3333%;
	padding:0 15px;
	float: left;
}

.boobs_item {
	border: 2px #e1e1e1 solid;
	background-color: white;
	min-height: 520px;
	transition: all 0.3s ease;
	margin-bottom: 30px;
}
.boobs_item:hover .boobs_image {
	opacity: 0.8;
	cursor: pointer;
}
.boobs_item:hover {
	box-shadow: 0 1px 15px rgba(0,0,0,0.6);

}
.boobs_image {
	min-height: 250px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 0.3s ease; 
}
.boobs_contant {
	padding: 15px;
}
.footer_row {
	background-color: #f5efef;
	margin-top: 0;
}
.footer {
	max-width: 1000px;
    margin: 0 auto;
    padding: 60px 0 60px 0;
    border-top: 1px #b1a4a4 solid;
    font-size: 20px;
}
.footer_link {
	float: right;
	font-size: 20px;
	margin-top: -3.5%;
}
.footer_link h5 {
	margin-bottom: 5px;
}	
.footer_social a {
	display: inline-block;
	margin-right: 8%;
	vertical-align: middle;
	line-height: 70px;
	min-width: 40px;
	min-height: 40px;
}
.footer_social a:last-child {
	margin-right: 0;
}
.social_fb {
	background: url('./images/icons.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
}
.socilal_fb a {
	height: 40px;
	width: 40px;
}
.social_vk {
	background: url('./images/icons.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -168px 0;
}
.socilal_vk a {
	height: 40px;
	width: 40px;
}
.social_ok {
	background: url('./images/icons.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -127px 0;
}
.socilal_ok a {
	height: 40px;
	width: 40px;
}
.social_twit {
	background: url('./images/icons.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -42px 0;
}
.socilal_twit {
	height: 40px;
	width: 40px;
}