body {
	padding: 0;
	margin: 0;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	background-color: #f5efef; 
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

table {
	min-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin-top: 50px;
}

tr {
	border-top: 2px #adaaaa solid;
}

tr:last-child {
	border-bottom: 2px #adaaaa solid;
}

td {
	border-right: 2px #adaaaa solid;
	background-color: #d4d4d4;
	padding: 5px 0 5px 0;
}

table td:last-child {
	border-right:none;
}

.container {
	max-width: 1170px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 15px;
}

.row {
	margin: 0 -15px;
	clear: both;
}

.col-1, 
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	float:left;
	padding: 0 15px;
}

.col-1 {
	width: 8.3333%;
}
.col-2 {
	width: 16.6666%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.3333%;
}
.col-5 {
	width: 41.6666%;
}
.col-6 {
	width:50%;
}
.col-7 {
	width: 57.4795%;
}
.col-8 {
	width:66.6666%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.3333%;
}
.col-11 {
	width: 91.6674%;
}
.col-12 {
	width: 100%;
}

.clearfix:before,
.clearfix:after,
.row:after,
.row:before {
	content: '';
	display: table;
}

.clearfix:after,
.row:after {
	clear: both;
}

.header {
	background: rgba(29, 20, 99, 0.64);
	padding: 10px 0;
}

.header__container {
	text-align: right;
	font-size: 0;
}

.header__logo {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	text-align: left;
}

.header__logo a {
	text-decoration: none;
	display: block;
	overflow: hidden;
	max-width: 70px;
	border-radius: 50%;
}

.header__logo img{
	display: inline-block;
    vertical-align: middle;
}

.header__nav {
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	width: 60%;
	text-align: right;
	font-size: 16px;
}

.header__nav__item {
	display: inline-block;
	margin-right: 40px;
	vertical-align: middle;
}

.header__nav__item:last-child {
	margin-right: 0px; 
}

.header__nav__item a {
	font-size: 1.3em;
	color: #b6b6e0;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	transition: all 0.3s;
	padding-bottom: 4px;
	border-bottom: 4px transparent solid;
}

.header__nav__item a:hover {
	color: #e20b0b;
	border-color: #e20b0b;
}

.price {
	margin-top: 50px;
}

.price_col {
	margin: 0 15px;
}

.price_photo {
	height: 500px;
	background-image: url(./images/own.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.price__short {
	vertical-align: top;
	margin-bottom: 30px;
}

.price__short h1 {
	font-size: 36px;
	margin: 0;
	text-align: center;
	line-height: 1;
}
.price__long p {
	font-size: 18px;
	line-height: 24px;
	margin-top: 0;
}

.price__long__raiting {
	padding: 30px 0;
	margin-right: 30px;
}

.price__long__table {
	font-size: 1.4rem;
	text-align: center;
}
.price__raiting__icon {
	width: 50px; 
	height: 50px;
	background: #ed1c24;
	border-radius: 50%;
	line-height: 46px;
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.3)
}

.raiting__icon-title {
	text-align: center;
	vertical-align: middle;
}

.raiting__icon-title span {
	display: inline-block;
	font-size: 27px;
	/*line-height: 1;*/
}

.price__raiting__available {
	display: inline-block;
	vertical-align: middle;
	padding: 5px 10px;
	background-color: #30ab80;
	color: #fff;
	border-radius: 2px;
	font-size: 14px;
}

.buy__new-buy {
	float: left;
}

.buy__now-buy {
	float: right;
}
.footer {
	padding: 60px 0;
	background-color: #f5efef;
}

.footer__row {
	font-size: 0;
}

.footer-col-3 {
	width: 40%;
	display: inline-block;
	vertical-align: middle;
}

.footer-col-3 > p {
	margin: 0;
	font-size: 14px;
}

.footer-col-social {
	width: 60%;
	display: inline-block;
	vertical-align: middle;
}

.footer__social {
	text-align: right;
}

.footer__social h4 {
	margin: 0;
	margin-right: 20px;
	letter-spacing: .5px;
	font-size: 15px;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
}	
.footer__social__list {
	display: inline-block;
	vertical-align: middle;
}

.footer__social__list a {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	width: 40px;
	height: 40px;
}

.footer__social__list a:last-child {
	margin-right: 0;
}

.social {
	background-repeat: no-repeat;
	background-size: cover;
}
.social_fb {
	background: url('./images/icons.png');
	background-position: 0 0;
}

.social_vk {
	background: url('./images/icons.png');
	background-position: -168px 0;
}

.social_ok {
	background: url('./images/icons.png');
	background-position: -126px 0;
}

.social_twit {
	background: url('./images/icons.png');
	background-position: -42px 0;
}